<div class="anima-container">
    <ul class="home_title">
      <li>
        <div class="left">
          <h2><span>Welcome to</span></h2>
        </div>
        <div class="right">
          <h2><span>Welcome to</span></h2>
        </div>
      </li>
      <li>
        <div class="left">
          <h2><span>my world I'm a</span></h2>
        </div>
        <div class="right">
          <h2><span>my world I'm a</span></h2>
        </div>
      </li>
      <li>
        <div class="left">
          <h2><span>problem solver</span></h2>
        </div>
        <div class="right">
          <h2><span>problem solver</span></h2>
        </div>
      </li>
      <li>
        <div class="left">
          <h2><span>And developer</span></h2>
        </div>
        <div class="right">
          <h2><span>And developer</span></h2>
        </div>
      </li>
    </ul>
  </div>