.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
ul{
    width: 350px;
    padding:10px 15px;
    background: rgba(40, 40, 40, 0.705);
    backdrop-filter: blur(10px);
    border: 0.5px solid #ffffff25;
    margin: 0 auto;
    position: fixed;
    top: 40px;
    border-radius: 20px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul > li > a{
    color:#ffffff78;
    font-size: 12px;
    text-decoration: none;
}

ul > li > a:hover{
    color: #fff;
}