<div class="main">
    <!-- <div class="flair"></div> -->
    <div class="main-wrapper">
       <div class="cader">
            <div class="card-left">
                <div class="card-left-img">
                    <img src="../../../../assets/images/me.jpg" alt="">
                </div>
            </div>
            <div class="card-right">
                <h2><span>Hello</span> I'm here for you !</h2>
            
                <div class="info">
                <h5>Oussama Charafi, 24 years old,</h5>
                <p>
                    Passionate about web and software development, I am a Fullstack Java/Angular
                    Developer certified in Oracle Java SE 17. With strong experience in Java, Spring Boot, Angular, and software
                    architecture, I design high-performance and secure solutions tailored to business needs.
                </p>
                <p>
                    I have worked on various innovative projects, including CO-SCHOOL, a school management platform, E-Bank Solution, an
                    online banking application, and DashFilter, a monitoring system using ELK Stack and Nagios XI. My expertise lies in
                    building scalable and efficient applications while ensuring security and performance optimization.
                </p>
                <p>
                    I am always eager to learn and stay up-to-date with the latest technologies. My goal is to evolve within a dynamic
                    environment that fosters innovation and challenges me to push my limits while contributing to impactful projects.
                </p>
                </div>
                <div class="cv">
                    <a target="_blank" rel="noopener noreferrer">Download my resume <img src="../../../../assets/icons/downl.svg" alt=""></a>
                </div>
            </div>
       </div>
    </div>
</div>

<!-- <div class="about-me">
            <div class="left">
            
            </div>
            <div class="right">
                <div class="pic">
                    <img src="../../../../assets/images/undraw_trendy-interface_bm65.svg" alt="">
                </div>
            </div>
</div>-->