h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 285px;
    margin: 0;
    color: var(--text-color);
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001;
  }
  
  .logo img {
    width: 200px;
    height: auto;
  }
  
  .barres {
    position: absolute;
    margin-top: 65px;
    margin-right: 20px;
    right: 0;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .hamburger {
    width: 50px;
    height: 6px;
    background: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: grey;
    transition: 0.5s;
  }
  
  .hamburger::before {
    top: -16px;
  }
  
  .hamburger::after {
    top: 16px;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    background: #fff;
    height: 100vh;
    width: 100%;
    transition: left 1.5s ease-in-out;
    z-index: 999;
  }
  
  .menu.active {
    left: 0;
  }
  
  ul {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    padding-top: 30px;
  }
  
  a {
    text-decoration: none;
    color: rgb(31, 30, 30);
    font-size: 60px;
    font-family: Orbitron, sans-serif;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #A4D65E;
  }
  
  .barres.active .hamburger {
    background: #000;
  }
  
  .barres.active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .barres.active .hamburger::after {
    top: 0;
    transform: rotate(135deg);
}